:host {
  color: #fff;
  position: fixed;
  bottom: 0;
  background-color: rgb(228, 19, 19);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 0;
  z-index: 1000;

}

:host:hover {
  opacity: 1;
 
 }

ul {
  display: flex;
  gap: 20px;
}

li {
  cursor: pointer;
  list-style-type: none;
}

.menu-btn {
  cursor: pointer;
}

li:hover {
  color: red;
}
