:host {
  color: #fff;
  position: absolute;
  bottom: 0;
  background-color: rgb(21, 21, 21);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 0;
}

:host:hover {
  opacity: 1;
}

ul {
  display: flex;
  gap: 20px;
}

li {
  cursor: pointer;
  list-style-type: none;
}


.menu-btn{
    cursor: pointer;
}

.menu-btn:hover{
color: red
}